/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* BUTTON */
.btn {
  margin: 5px 0 5px 20px;
  padding: 11px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}
.btn-primary {
  background: #2563eb;
  color: white;
}
.btn-primary:hover {
  background: #1d4ed8;
}
.btn-danger {
  background: #ef4444;
  color: white;
}
.btn-danger:hover {
  background: #dc2626;
}
.btn-success {
  background: #16a34a;
  color: white;
}
.btn-success:hover {
  background: #15803d;
}
.btn-update {
  background: #f59e0b;
  color: white;
}
.btn-update:hover {
  background: #ca8a04;
}
.btn:active {
  transform: scale(0.97);
}
.btn-disabled,
.btn:disabled {
  background: #64748b;
  cursor: not-allowed;
  opacity: 0.7;
}

/* TABLE */
/* Table wrapper for horizontal scroll */
.table-wrapper {
  overflow-x: auto;
  border-radius: 8px;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
  color: #f1f5f9;
  border-radius: 8px;
  overflow: hidden;
}
.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #334155;
  text-align: left;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: linear-gradient(180deg, #0f172a, #1e3a8a);
  /* background: #111827; */
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  border-radius: 10px;
  color: #f1f5f9;
}

.modal-footer {
  margin-top: 15px;
  text-align: right;
}

/* INPUT */
.input-wrapper {
  margin-bottom: 10px;
}
.input-wrapper input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #0f172a;
  color: #f1f5f9;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  caret-color: #2563eb;
}
.input-wrapper input::placeholder {
  color: #94a3b8;
}
.input-wrapper input:focus {
  border-color: #2563eb;
}

/* Select */
.select-wrapper {
  margin-bottom: 10px;
}
.select-wrapper select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #0f172a;
  color: #f1f5f9;
  font-size: 14px;
  outline: none;
  transition:
    border-color 0.3s ease,
    background 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.select-wrapper select:focus {
  border-color: #2563eb;
}
.select-wrapper select option {
  background: #0f172a;
  color: #f1f5f9;
}
