/* .layout {
  display: flex;
  min-height: 100vh;
} */
.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
/* SIDEBAR */
.sidebar {
  width: 240px;
  padding: 25px 20px;
  min-height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e3a8a);
  color: #f1f5f9;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.sidebar .logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.sidebar.collapsed {
  width: 80px;
}
.sidebar.collapsed .logo-text {
  display: none;
}
.sidebar.collapsed li {
  text-align: center;
}
.sidebar {
  transition: width 0.3s ease;
}
.sidebar h2 {
  margin-bottom: 20px;
}
.sidebar ul {
  list-style: none;
  flex: 1;
}
.sidebar li {
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}
.sidebar li:hover {
  background: rgba(255, 255, 255, 0.12);
}
.sidebar li.active {
  background: #2563eb;
}

/* CONTENT */
/* .content {
  flex: 1;
  padding: 20px;
} */
.content {
  flex: 1;
  padding: 20px;
  max-width: 100%;
  overflow-x: hidden;
}
/* NAvbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: #f1f5f9;
  border-bottom: 1px solid #1f2937;
  background: linear-gradient(180deg, #1e293b, #1e3a8a);
  border-radius: 12px;
  position: relative;
  z-index: 5;
}
.navbar h3 {
  margin: 0;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.navbar-right .notification {
  cursor: pointer;
  font-size: 18px;
}
.navbar-right .avatar {
  background: #2563eb;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 8px;
  overflow: hidden;
  min-width: 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.dropdown button {
  width: 100%;
  padding: 10px;
  background: transparent;
  color: #f1f5f9;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}
.dropdown button:hover {
  background: #2563eb;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -240px;
    top: 0;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }
}
