/* Dashboard */
.dashboard {
  padding: 20px;
  min-height: 100vh;
  /* background: linear-gradient(180deg, #0f172a, #1e3a8a); */

  /* color: #f1f5f9; */
}
.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}
.card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #1e293b, #111827);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.card-icon {
  font-size: 28px;
  color: white;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card-content .title {
  font-size: 14px;
  opacity: 0.8;
}
.card-content .value {
  font-size: 24px;
  font-weight: bold;
}
.chart-container {
  background: linear-gradient(180deg, #1e293b, #111827);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.chart-container h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.chart-container.small-chart {
  max-height: 700px;
  margin: 0 auto;
}

/* Login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e3a8a);
  color: #f1f5f9;
  padding: 20px;
}
.login-form {
  background: #1e293b;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-form input {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #0f172a;
  color: #f1f5f9;
  outline: none;
  transition: border 0.2s;
}
.login-form input:focus {
  border: 1px solid #2563eb;
}
.login-form button {
  margin-top: 10px;
}
